.nav_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin-top: 1rem;
  padding: 1.125rem 0.8rem 1.125rem 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 100%;
  position: relative;
}

@media (max-width: 770px) {
  .nav_container {
    min-width: 100%;
  }

  nav {
    min-width: 100%;
  }
}
