footer {
  margin-top: 1rem;
  min-width: 100%;
  background: var(--grey-dark);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.footer_signature {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-var);
  background: var(--purple-dark);
  min-width: 100%;
  padding: 1rem;
}
